extends layout
block content
  section.jumbotron.text-center
    h1 Welcome, #{firstName}!
    p ID: #{userId}
    p Last name: #{lastName}
    p Username: #{userName}
    p Email: #{userEmail}
    //- p Your password: #{userPassword}
    
